@import "bootstrap-sprockets";
@import "bootstrap";

/* settings */

hr {
		max-width: 50px;
		.light{
				border-color:#fff;
	}
	.unist{
			border-color:#272c53;
	}
}
p {
		font-size: 16px;
		line-height: 1.5;
		margin-bottom: 20px;
		.text-faded{
				color: rgba(255, 255, 255,.7);
	}
}
.section-heading{

}

/* html, body */

html, body {
		height: 100%;
}

/* devise body */

.padding_body {
		padding-top: 50px;
}

/* header */

.navbar {
		background-color: #272c53;
}

.nav {
		font-size: 17px;
}

/* header */

header {
		display: table;
		width: 100%;
		height: 600px;
		/*height: 100vh;*/
		background-image: url('/background_image.jpeg');
		background-size: cover;
		background-position: center;
		text-align: center;
		.header-content-inner {
				padding-top: 300px;
				.white_box {
						margin: auto;
						width: 800px;
						border-radius: 10px;
						border: solid 1px #fff;
						background-color: transparent;
						p {
								color: rgba(255,255,255,7);
		}
		h1 {
				color: white;
		}
	}
}
}

/* sign up now button */

.button {
		padding-top: 50px;
		text-align: center;
		font-color: white;
		button {
				-webkit-border-radius: 25px;
				-moz-border-radius: 25px;
				border-radius: 25px;
				width: 150px;
}
}

.center_picture {
		padding-top: 50px;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		background-color: rgba(0, 0, 0, 0.3);
		img {
				margin: 0 30px;
}
}

/* about page */
.bg-about {
		background-color: #272c53;
		color:#fff;
		height:500px;
		.about_body {
				padding-top: 150px;
	}
}

/* Member page */
.bg-member{
		height: 900px;
		background-color: #D9EDF7;
		.member_body{
				padding-top: 50px;
		}
		h3{
				font-size: 50px;
				margin-bottom: 20px;
		}
		p{
				font-size: 25px;
				margin-bottom: 30px;
		}
}

.member-box{
		text-align: center;
		margin-bottom: 50px;
}

.member-box h4{
		margin-top: 25px;
		margin-bottom: 0;
		text-transform: none;
}

h4{
		font-family: Montserrat, "HelveticaNeue",Helvetica,Arial,sans-serif;
		font-weifht:700;
		font-size: 18px;
}

.member-box img{
		margin: 0 auto;
		border: 7px solid #fff;
		width: 225px;
		height: 225px;
}

.img-circle{
		border-radius: 50%;
}

/* service page */
#service {

}

/* header left */

#logo {
		float: left;
		margin-right: 10px;
		font-size: 1.2em;
		color: #fff;
		padding-top: 14px;
		font-weight: normal;
}

body {
		position: relative;
		min-height: 100%;
		height: auto !important;
		height: 100%;
		padding-bottom: 50px;
		padding-top: 50px;
		footer {
				position: absolute;
				padding-left: 170px;
				width: 100%;
				height: 100px;
				line-height: 50px;
				text-align: center;
				bottom: 0;
				background-color: #464646;
				color: white;
				.footer_content {
						text-align: center;
						padding-top: 27px;
				}
				ul {
						float: right;
						padding-right: 25px;
						img {
								width: 40px;
						}
				}
		}
}

/* qna pages */

.call-to-qna{
		padding: 50px 0;
		background-color: #337ab7;
		color: #fff;
		h6{
				font-size: 30px;
		}
		p{
				font-size: 20px;
		}
		.btn{
				margin: 10px;
				text-align: center;
				vertical-align: middle;
		}
		.btn-light{
				border-radius: 0;
				color: #333;
				backgroud-color: rgb(255,255,255);
		}
		.text-center{
				text-align: center;
		}
		.padding_bottom{
				padding-bottom: 100px;
		}
}

.btn-lg{
		padding: 10px 16px;
		font-size: 15px;
		border: solid 2px #fff;
}
