<footer class="footer" id='f'>
<div class="footer_content">
	Copyright © 2016 멋쟁이 사자처럼@UNIST
	All rights are reserved. 
		<ul>
				<a href="#">
						<img src="/likelion_mark.png" class="img-rounded" >
				</a>
				<a href="#">
						<img src="/university_mark.jpg" class="img-rounded" >
				</a>
				<a href="#">
						<img src="http://www.facebook.com/images/fb_icon_325x325.png" class="img-rounded" >
				</a>
		</ul>
	</div>
</footer>
